# Mail Configuration
# Port 465 requires SSL, Port 587 requires TLS
MAIL_MAILER=smtp
MAIL_HOST=mail.3eyon-host.com
MAIL_PORT=465
MAIL_USERNAME=info@3eyon-host.com
MAIL_PASSWORD="your-password-here"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@3eyon-host.com
MAIL_FROM_NAME="Billing App"
